#myCanvas {
    /*background-color: white;*/
    margin-right: 10px;
}
#myCanvas_2 {
    background-color: white;
    margin-right: 10px;
}
body {
    background-color: antiquewhite;
}

.whole {
    display: flex;

    flex-direction: row;
}

.left_part {
    display: flex;
    flex-direction: row;
}
.right_part {
    display: flex;
    flex-direction: column;
}
.right_mid {
    display: flex;
    flex-direction: column;
}

.button {
  background-color: #56794b; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 2px;
}

.button2 { background-color: #56794b;} /* Blue */
.button3 { background-color: #abc5a3; color: black;} /* Red */ 
.button4 { background-color: #e7e7e7; color: black; padding: 15px 22px;} /* Gray */ 
.button5 { background-color: #555555;} /* Black */

.container {
    background-color: #56794b;
    padding: 15px 15px;
    text-align: center;
    color: white;
    margin: 20px 0px;
}
.upload {
    background-color: #a9bba3;
    padding: 15px 15px;
    text-align: center;
    color: white;
}


.context-menu {
    cursor: context-menu;
}
.text {
    cursor: text;
}
.pen {
    cursor: url('image/pen.png'), auto;
}
.eraser {
    cursor: url('image/eraser.png'), auto;
}
.rectangle {
    cursor: url('image/rectangle.png'), auto;
}
.triangle {
    cursor: url('image/triangle.png'), auto;
}
.circle {
    cursor: url('image/circle.png'), auto;
}
